body {
    background: linear-gradient(to right, rgb(23, 25, 26), #1b1b1b);
}

h1{
    position: absolute;
    background: linear-gradient(135deg, #c9c9c5, #ffffff);
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -15px;
    padding: 10px 10px;
    text-align: center;
    width: 200px;
    left: 2%;

}

#barra {
    background: linear-gradient(to right, rgb(20, 10, 8), #038614);
    padding: 50px;
    border-radius: 20px;
    margin-top: -40px;
    text-transform: uppercase;
    list-style: none;
    box-shadow: 5px 5px 10px #134b02, -5px -5px 10px #134b02;
}

#controle {
    position: absolute;
    color: white;
    background-color: rgb(44, 44, 39);
    border-radius: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 105px;
    box-shadow: 5px 5px 10px  #020202, -5px -5px 10px #000000;
    left: 20px;
    margin-top: 70px;
}


#cronograma {
    position: absolute;
    color: white;
    background-color: rgb(44, 44, 39);
    border-radius: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 105px;
    box-shadow: 5px 5px 10px  #020202, -5px -5px 10px #000000;
    left: 20px;
    margin-top: 120px;
}

#orcamento {
    position: absolute;
    color: white;
    background-color: rgb(44, 44, 39);
    border-radius: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 105px;
    box-shadow: 5px 5px 10px  #020202, -5px -5px 10px #000000;
    left: 20px;
    margin-top: 170px;
}

#lateral {
    position: absolute;
    background: linear-gradient(to right, rgb(20, 10, 8), #038614);
    padding: 50px;
    border-radius: 20px;
    margin-top: 50px;
    text-transform: uppercase;
    list-style: none;
    left: 8px;
    height: 15vh;
    width: 30px;
    box-shadow: 5px 5px 10px #134b02, -5px -5px 10px #134b02;
}
    
 #esconder {
    position: absolute;
    top: 160px;
    left: 500px;
    display: none; 
  }
  
table caption {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 3px;
    border-radius: 3px;
}

table th {
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 3px solid white;
    border-radius: 2px;
    left: 500px;
    margin-top: 100px;
    border-collapse:collapse ;

 }

table td {
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 3px solid white;
    border-radius: 2px;
    left: 500px;
    margin-top: 300px;
    border-collapse:collapse ;

 }


 table tfoot {
    border: 0px;
    background-color: #038614;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    box-shadow: 5px 5px 10px #134b02, -5px -5px 10px #134b02;
 }


 .semana {
    border: 0px;
    background-color: #038614;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;

 }


#orca{
    position: absolute;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-top: 185px;
    left: 500px;
    text-align: center;
    border-radius: 50px;
    display: none;
 }

.te {
    background-color: #038614;
}