@media screen and (max-width: 475px) {
    #barra {
        width: 375px;
        
    }
  }

@media screen and (max-width: 475px) {
   
    #container {
        width: 150px;
    }
  }
  
@media screen and (max-width: 475px) {
   
    .h2 {
        font-size: 20px;
        left: 250px;

    }

  }
    
@media screen and (max-width: 475px) {
   
    .message {
        left: 250px;

    }

  }
body {
    background: linear-gradient(to right, rgb(23, 25, 26), #1b1b1b);
}


h1 {
    position: absolute;
    background: linear-gradient(135deg, #ecebec, #ffffff);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -15px;
    padding: 5px 10px;
    text-align: center;
    width: 100px;
    left: 2%;
}

h2 {
    position: absolute;
    background: linear-gradient(135deg, #f2f0f3, #ffffff);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 150px;
    left: 300px;
    
    
}

h3 {
    position: absolute;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 150px;
    left: 900px;
    
    
}



.pag, .return, .renner, .berlanda, .bradesco, .itapeva, .zema, .mercado, .bmg, .sercomtel, .nova, .credipar, .ligga, .losango {
    position: absolute;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    width: 100px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    cursor: grab;
}

.pag {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 50px;
}

.return {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 200px;
}

.renner {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 150px;
}

.berlanda {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 100px;
}

.bradesco {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 250px;
}

.itapeva {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 300px; 
}

.zema {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 350px; 
}

.mercado {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 400px; 
}

.credipar {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 450px; 
}

.ligga {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 500px; 
}

.sercomtel {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 550px; 
}

.bmg {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 600px; 
}

.losango {
    background-color: rgb(44, 44, 39);
    box-shadow: 5px 5px 10px  #000000, -5px -5px 10px #000000;
    color: rgb(255, 255, 255);
    left: 20px;
    margin-top: 650px; 
}

#barra {
    background: linear-gradient(to right, rgb(23, 25, 26), #1b1b1b);
    padding: 50px;
    border-radius: 20px;
    margin-top: -40px;
    text-transform: uppercase;
    list-style: none;
    border: 5px solid #45024d;
    box-shadow: 5px 5px 10px #14011f, -5px -5px 10px #160122;

}

#lateral {
    position: absolute;
    background: linear-gradient(to right, rgb(29, 27, 27), #4b015e);
    padding: 65px;
    border-radius: 20px;
    margin-top: 10px;
    width: -20px;
    left: 8px;
    height: 100vh;
    text-transform: uppercase;
    list-style: none;
    box-shadow: 5px 5px 10px #14011f, -5px -5px 10px #160122;
}


.sair {
    color:#ffffff;
    background-color: #770294;
    border: rgb(39, 37, 37);
    border-radius: 10px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    cursor: grab;
    margin-top: -60px;
    padding: 5px;
    width: 45px;
    left: 95%;
    box-shadow: 5px 5px 10px #390158, -5px -5px 10px #390158;

}


#container {
    display: flex;
    background-color: linear-gradient(to right, rgb(87, 4, 182), #7707ac);
    border: 7px solid #7f039e;
    border-radius: 10px;
    margin-top: 100px;
    padding: 15px;
    translate: 220px;
    max-width: 450px;
    height: 300px;
    justify-content: space-between;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap ;
    box-shadow: 5px 5px 10px #390158, -5px -5px 10px #390158;

}


.message {
    border-radius: 5px;
    border: 5px solid #7707ac;
    height: 50px;
    width: 100px;
    box-shadow: 5px 5px 10px #390158, -5px -5px 10px #390158;
    
}

.zenvia {
    border-radius: 5px;
    border: 5px solid #7707ac;
    height: 50px;
    width: 100px;
    box-shadow: 5px 5px 10px #390158, -5px -5px 10px #390158;
}


.kolmeya {
    border-radius: 5px;
    border: 5px solid #7707ac;
    height: 50px;
    width: 100px;
    box-shadow: 5px 5px 10px #390158, -5px -5px 10px #390158;
}

#containerr {
    display: flex;
    background-color: linear-gradient(to right, rgb(87, 4, 182), #7707ac);
    border: 5px solid #9508b8;
    border-radius: 10px;
    margin-top: -335px;
    padding: 15px;
    translate: 800px;
    max-width: 450px;
    height: 300px;
    justify-content: space-between;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap ;
    box-shadow: 5px 5px 10px #390158, -5px -5px 10px #390158;

}

.lemit {
    border-radius: 5px;
    border: 5px solid #7707ac;
    height: 50px;
    width: 100px;
    box-shadow: 5px 5px 10px #390158, -5px -5px 10px #390158;
}

.bradesco1 {
    border-radius: 5px;
    border: 5px solid #7707ac;
    height: 50px;
    width: 100px;
    box-shadow: 5px 5px 10px #390158, -5px -5px 10px #390158;
}


.claro {
    border-radius: 5px;
    border: 5px solid #7707ac;
    height: 50px;
    width: 100px;
    box-shadow: 5px 5px 10px #390158, -5px -5px 10px #390158;

}

.caixa {
    border-radius: 5px;
    border: 5px solid #7707ac;
    height: 50px;
    width: 100px;
    box-shadow: 5px 5px 10px #390158, -5px -5px 10px #390158;

}
